body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  display: inline-block;
}

label {
  font-size:3vmin;
}

.row {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

.row div:nth-child(even) {
  font-size:18px;
}

.details div{
  margin: 5px 0px 0px 0px;
}
